{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url('/assets/image/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
      a{
          text-decoration: none;
          color: black;
      }

        button{
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            cursor: pointer;
        }
    </style>
    <header >
        <nav class="navbar" >
            <div class="max-width">
                <div class="logo">
                    <a href="#">Peak <span> </span><span>EXPLORER.</span></a>
                </div>
                <ul class="menu">
                    <li><a href="{{ path('app_index') }}" class="menu-btn">acceuil</a></li>
                    <li><a href="{{ path('admin_domaine') }}" class="menu-btn">Stations</a></li>
                    <li><a href="{{ path('app_login') }}" class="menu-btn">login</a></li>
                    <li><a href="{{ path('app_register') }}" class="menu-btn">Register</a></li>
                    <li><a href="{{ path('app_Domaine') }}" class="menu-btn">Domaine</a></li>

                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                    <img src="public/assets/images/menu.png">
                </div>
            </div>
        </nav>
    </header>
    <br><br><br><br>
    <h1>les Stations de skis</h1>
    <p>Bienvenue sur la page d'édition des stations de ski,
        <br>Vous pourrez ici ajouter, modifier ou supprimer des stations de ski.
        et aussi ouvrir/fermé les stations de ski en fonction de l'heure actuelle.
    </p>

    <button><a href="{{ path('app_stationski_type') }}">Ajouter une station</a></button>
    {% for stations in station  %}
        <div>
            <h3>{{ stations.name }}</h3>

            <img src="/uploads/{{ stations.image }}" alt="image de la station" width="200" height="200">

            <a href="{{ path('station_edit', {'id': stations.id}) }}">voir la station</a>
        </div>

    {% endfor %}
    <button><a href="{{ path('app_auto' , {'id' : id})}}">Ouvrir les station</a></button>
{% endblock %}
