{% extends 'base.html.twig' %}

{% block body %}
    <header >
        <nav class="navbar" >
            <div class="max-width">
                <div class="logo">
                    <a href="#">Peak <span> </span><span>EXPLORER.</span></a>
                </div>
                <ul class="menu">
                    <li><a href="{{ path('app_index') }}" class="menu-btn">acceuil</a></li>
                    <li><a href="{{ path('app_Domaine') }}" class="menu-btn">Domaine</a></li>
                    <li><a href="{{ path('app_login') }}" class="menu-btn">login</a></li>
                    <li><a href="{{ path('app_register') }}" class="menu-btn">Register</a></li>
                    {% if user == 'ROLE_ADMIN'%}
                        <li><a href="{{ path('admin_domaine') }}" class="menu-btn">Admin</a></li>
                    {% elseif user == 'ROLE_ASTATION'%}
                        <li><a href="{{ path('admin_domaine') }}" class="menu-btn">Admin</a></li>
                    {% endif %}


                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                    <img src="public/assets/images/menu.png">
                </div>
            </div>
        </nav>
    </header>
    <div class="mountain">
        <svg viewBox="0 0 1200 800" xmlns="http://www.w3.org/2000/svg">
            <mask id="m">
                <g class="cloud1">
                    <rect fill="#fff" width="100%" height="801" y="799" />
                    <image xlink:href="https://assets.codepen.io/721952/cloud1Mask.jpg" width="1200" height="800"/>
                </g>
            </mask>
            <image class="sky" xlink:href="https://assets.codepen.io/721952/sky.jpg"  width="1200" height="590" />
            <image class="mountBg" xlink:href="https://assets.codepen.io/721952/mountBg.png" width="1200" height="800"/>
            <image class="mountMg" xlink:href="https://assets.codepen.io/721952/mountMg.png" width="1200" height="800"/>
            <image class="cloud2" xlink:href="https://assets.codepen.io/721952/cloud2.png" width="1200" height="800"/>
            <image class="mountFg" xlink:href="https://assets.codepen.io/721952/mountFg.png" width="1200" height="800"/>
            <image class="cloud1" xlink:href="https://assets.codepen.io/721952/cloud1.png" width="1200" height="800"/>
        </svg>
        <section class="home" id="home">
            <div class="line-container">
                <svg  viewBox="0 0 1180 2159" fill="none" preserveAspectRatio="xMidYMax meet">
                    <path d="M1313.65 4H936.028C928.701 4 921.419 5.15037 914.449 7.40908L509.908 138.501C504.179 140.358 498.12 136.767 497 130.849L492.234 105.688C489.03 88.7718 477.348 74.6936 461.312 68.4248L444.278 61.7656C427.979 55.3937 410.175 53.9121 393.046 57.5023L375.996 61.0761C369.93 62.3476 364.152 64.736 358.959 68.1195L339.694 80.6708C331.361 86.1 324.836 93.8911 320.954 103.048L320.561 103.975C318.029 109.949 312.755 114.323 306.416 115.708L295.458 118.101C285.334 120.312 276.147 125.615 269.168 133.275L266.229 136.5L258.908 144.436C254.036 149.718 250.649 156.196 249.093 163.211V163.211C245.844 177.857 250.919 193.103 262.298 202.88L271.755 211.005C277.121 215.616 283.405 219.035 290.191 221.037L304.092 225.139C310.524 227.036 317.195 228 323.901 228H478.885L493.404 227.219C512.356 226.199 528.383 212.843 532.804 194.386L534.586 186.945C536.682 178.19 534.436 168.962 528.55 162.15L526.202 159.433C518.152 150.116 503.803 149.827 495.384 158.811V158.811C494.961 159.262 494.425 159.592 493.832 159.765L413.691 183.204C405.283 185.663 396.292 185.219 388.168 181.944L381.81 179.382C359.702 170.471 353.247 142.254 369.282 124.617V124.617C375.629 117.637 384.946 114.135 394.319 115.207L416.809 117.778C437.098 120.098 454.815 132.578 463.83 150.902L464.919 153.114C473.659 170.879 473.073 191.812 463.352 209.06L459.449 215.987C440.134 250.258 452.845 293.711 487.585 312.171L653.82 400.5L936.219 496.469C959.94 504.531 977.544 524.654 982.38 549.236L989.63 586.092C997.933 628.307 966.548 667.951 923.555 669.554L105.07 700.081C86.4639 700.775 81.4314 674.754 98.9548 668.461V668.461C100.151 668.031 101.072 669.557 100.134 670.415L90.9862 678.782C90.0997 679.593 89.148 680.329 88.1408 680.984L50.6403 705.362C33.2364 716.675 20.9115 734.311 16.2689 754.543L12.8911 769.263C7.81741 791.374 12.3694 814.599 25.4142 833.158L30.336 840.161C36.2955 848.639 43.8456 855.88 52.5668 861.478L82.3867 880.623C91.5099 886.48 101.728 890.421 112.422 892.208L135.828 896.119C147.188 898.017 158.823 897.441 169.938 894.428L192.97 888.187C214.769 882.279 233.55 868.392 245.585 849.281L259.809 826.694C262.181 822.927 258.82 818.172 254.478 819.152L204.826 830.358C190.172 833.665 174.811 831.355 161.778 823.884L127.795 804.403C112.924 795.878 102.409 781.399 98.903 764.62L90.5802 724.782C88.8972 716.726 89.2906 708.375 91.7233 700.514V700.514C92.2965 698.661 89.7186 697.552 88.7681 699.243L59.5185 751.261C52.3093 764.082 55.4589 780.239 66.956 789.414L88.8167 806.859C112.472 825.735 121.317 857.675 110.743 886.031L6.7779 1164.82C2.65291 1175.89 5.39897 1188.34 13.7938 1196.64L149.862 1331.18C169.447 1350.55 198.568 1356.63 224.266 1346.72L483.596 1246.71C511.78 1235.84 543.757 1244.28 562.911 1267.64L594.133 1305.71C595.128 1306.93 594.4 1308.76 592.843 1308.96L557.119 1313.59C542.426 1315.49 528.549 1321.44 517.037 1330.76L500.145 1344.45C485.364 1356.42 475.333 1373.27 471.853 1391.97L467.529 1415.2C465.289 1427.24 465.842 1439.63 469.144 1451.42L475.519 1474.18C479.161 1487.18 486.036 1499.05 495.502 1508.68L511.133 1524.58C526.174 1539.88 546.73 1548.5 568.185 1548.5H645.834C658.625 1548.5 671.229 1545.43 682.59 1539.56L708.885 1525.95C723.904 1518.19 736.075 1505.86 743.65 1490.74L756.146 1465.8C763.889 1450.35 766.42 1432.81 763.36 1415.8L758.035 1386.2C755.31 1371.06 748.275 1357.02 737.772 1345.77L728.308 1335.63C705.268 1310.96 669.217 1303.4 638.208 1316.75L632.95 1319.01C627.564 1321.33 622.449 1324.23 617.697 1327.67L567.71 1363.82C553.601 1374.02 558.364 1396.13 575.423 1399.62L659.775 1416.87C663.388 1417.61 666.726 1419.33 669.421 1421.85L763.781 1509.99C766.616 1512.64 768.911 1515.81 770.538 1519.33L862.033 1717.4C867.497 1729.23 876.154 1739.3 887.031 1746.48L1046.85 1851.92C1081.41 1874.72 1088.74 1922.37 1062.63 1954.5L997.409 2034.75C962.192 2078.09 989.406 2143.19 1044.99 2148.57L1099.5 2153.85C1107.37 2154.61 1115.3 2154.04 1122.98 2152.15L1347 2097V4H1313.65Z" stroke="#B9D7A2" stroke-width="8"/>
                </svg>

            </div>
            <div class="pos">
                <div class="max-width">
                    <div class="home-content">
                        <div class="text-1">
                            Bienvenue sur  </div>
                        <div class="text-2">
                            Peak Explorer</div>
                        <div class="text-3">
                            Nous sommes a votre <span class="typing"></span></div>
                        <a href="#">Decouvrir</a>
                    </div>
                </div>
                <div class="home-image">
                    <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/loisirs/sorties/dossiers/les-stations-de-ski-huppees/19922242-1-fre-FR/Les-stations-de-ski-huppees.jpg" alt="">
                </div>
            </div>
            <div class="posi">
                <div class="home-image">
                    <img src="https://i-det.unimedias.fr/sites/art-de-vivre/files/styles/large/public/det_val_disere-00018617_val_disere_tourisme.jpg?auto=compress%2Cformat&crop=faces%2Cedges&cs=srgb&fit=crop&h=675&w=900" alt="">
                </div>
                <div class="max-width">
                    <div class="home-content">
                        <div class="text-1">
                            Bienvenu sur  </div>
                        <div class="text-2">
                            Peak Explorer</div>
                        <div class="text-3">
                            Nous sommes a votre <span class="typing"></span></div>
                        <a href="#">Decouvrir</a>
                    </div>
                </div>
            </div>
            <div class="pose">
                <div class="max-width">
                    <div class="home-content">
                        <div class="text-1">
                            Bienvenu sur  </div>
                        <div class="text-2">
                            Peak Explorer</div>
                        <div class="text-3">
                            Nous sommes a votre <span class="typing"></span></div>
                        <a href="#">Decouvrir</a>
                    </div>
                </div>
                <div class="home-image">
                    <img src="https://www.grazia.fr/wp-content/uploads/grazia/2021/10/voici-top-des-stations-ski-dans-lesquelles-les-francais-iront-skier-cet-hiver-selon-gens-confiance.jpeg" alt="">
                </div>
            </div>
    </section>
    </div>

    <!-- ===============services section start ==============-->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">
                Ma situation</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
                            Territoire de départ
                        </div>
                        <p>
                            L’Auvergne Rhône-Alpes est notre térritoire de base.Notre équipe se concentre sur la protection du Lynx.
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">
                            Danger d’extinction
                        </div>
                        <p>
                            Dans les alpes entre 14 et 22 individus dans les Alpes,de 2017 à nos jours 17 morts de Lynx en France </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">
                            Accidents de route
                        </div>
                        <p>
                            Les principales causes des morts du lynx de Boréal dans les Alpes se situent au niveau des accidents routiers en majorité </p>
                    </div></div></div></div></div>
    </section>
    <!-- ===============about section start=============== -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">    A Propos de moi</h2>

            <div class="about-content">
                <div class="column left">
                    <img src="https://www.belambra.fr/les-echappees/wp-inside/uploads/2019/10/choisir-station-ski.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">
                        Je suis le Lynx de Boréal <span class="typing-2"></span>
                    </div>
                    <p>
                        Je suis un félin sauvage et j'habite les
                        forestières et montagneuses de l'hémisphère
                        nord, y compris l'Europe, l'Asie et l'Amérique du Nord.
                        Je suis présent dans les Alpes en France et je me
                        caractérise par mon pelage épais, qui varie
                        du gris clair au roux foncé, et par mes
                        oreilles triangulaires avec des touffes
                        de poils noirs à l'extrémité.Je suis l'un des
                        prédateurs solitaires qui chassent principalement
                        les lièvres, les lagopèdes et les rongeurs,
                        pouvant également s'attaquer à des proies plus
                        grosses telles que les cerfs.
                        Bien que ma population soit en déclin dans certaines
                        régions, mon espèce est considérée comme une espèce moins
                        préoccupante par UICN et pourtant le chiffre de ma population baisse dans ma régien dans les Alpes.
                        Aide moi a agir.<a href="images/SaveTheLynx.png">Domaines</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ================team section start =================-->
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">
                Notre équipe</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="images/Screenshot 2023-03-11 000228.png" alt="">
                        <div class="text">
                            SARA </div>
                        <p>
                            Etudiante  ANNEE 2 IIM Coding.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Samanta.png" alt="">
                        <div class="text">
                            SAMANTA</div>
                        <p>
                            Etudiante ANNEE 2 EMLV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/James.png" alt="">
                        <div class="text">
                            ALEXANDRE</div>
                        <p>
                            Etudiant ANNEE 2 ESILV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Titouan.png" alt="">
                        <div class="text">
                            TITOUAN</div>
                        <p>
                            Etudiante ANNEE 2 EMLV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Screenshot 2023-03-11 000228.png" alt="">
                        <div class="text">
                            DIMITRI</div>
                        <p>
                            Etudiant ANNEE 2 ESILV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Eric.png" alt="" >
                        <div class="text">
                            ERIC</div>
                        <p>
                            Etudiant ANNEE 2 ESILV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/@after-appear=" alt="">
                        <div class="text">
                            Equipe</div>
                        <p>
                            l'équipe au grand complet</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============contact section start================ -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">
                Contactez nous</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">
                        Donnez nous votre avis</div>
                    <p>
                        Avez vous des questions?
                        voulez vous avoir plus d'informations sur cette cause.
                        Laissez un message pour nous laisser savoir votre pensée.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">
                                    Nom</div>
                                <div class="sub-title">
                                    Titouan</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">
                                    Address</div>
                                <div class="sub-title">
                                    Paris, France</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">
                                    Email</div>
                                <div class="sub-title">
                                    titouan.mathieu@edu.devinci.fr</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">
                        Envoyez nous un mail</div>
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <changeit cols="30" rows="10" placeholder="Message.." required></changeit>
                        </div>
                        <div class="button">
                            <button type="submit">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- footer section start -->
    <footer>
        <span>Created By <a href="#">Sarayeo</a>| <span class="far fa-copyright"></span> 2023.</span>
    </footer>

{% endblock %}
