{% extends 'base.html.twig' %}

{% block title %}Ski Peak Explorer{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des pistes</h1>



        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Difficulté</th>
                <th>Statut</th>
                <th>Horaire d'ouverture</th>
                <th>Horaire de fermeture</th>
                <th>fermeture expectionelle</th>
            </tr>
            </thead>
            <tbody>
            {% for piste in pistes %}
                <tr>
                    <td>{{ piste.name }}</td>
                    <td>{{ piste.difficulte }}</td>
                    <td>{% if piste.ouverture %} Ouverte {% else %} Fermée {% endif %}</td>
                    <td>{{ piste.horaireOuverture|date('H:i') }}</td>
                    <td>{{ piste.horaireFermeture|date('H:i') }}</td>
                    <td>{{ piste.fermetureexpectionelle }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



