{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <h1>les Stations de skis</h1>
    <p>
        Bienvenue sur la page d'édition des stations de ski,
        <br>Vous pourrez ici ajouter, modifier ou supprimer des stations de ski.

        et aussi ouvrir/fermé les stations de ski en fonction de l'heure actuelle.

    </p>

        <div>
            <h3>{{ station.name }}</h3>
            <img src="uploads/logo/{{ station.image }}" alt="image de la station" width="200" height="200">
            <p>{{ station.description }}</p>
            <p>{{ station.location }}</p>
        </div>
    <!-- <a href=""><button> Modifier les information de la station</button></a>-->
    {% for pistes in piste %}
        <div>
            <h3>nom de la piste : {{ pistes.name }}</h3>
            <p>Difficulté : {{ pistes.difficulte }}</p>
            <p>Heure d'ouverture: {{ POheure }}</p>
            <p>Heure de fermeture: {{ PChour}}</p>

        </div>
    {% endfor %}
{% endblock %}
