{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url('/assets/image/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            margin: 150px auto 0 auto;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            display: block;
            width: 95%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            color: #333;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            cursor: pointer;
        }
        label {
            font-size: 16px;
            font-family: sans-serif;
            display: flex;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <h3>Statut</h3>
        <label>
            <p>Administateur station</p>
            <input type="radio" name="statut" value="ROLE_ASTATION">
            <p>Utilisateur</p>
            <input type="radio" name="statut" value="ROLE_USER">
        </label>
        <br>


        <button type="submit" class="btn">Register</button>
{{ form_end(registrationForm) }}
    </form>
{% endblock %}
