{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url('/assets/image/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            margin: 150px auto 0 auto;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            display: block;
            width: 95%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            color: #333;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post">
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
        {{ form_widget(registrationForm.firstname, {'attr': {'placeholder': 'First name'}}) }}
        {{ form_widget(registrationForm.lastname, {'attr': {'placeholder': 'Last name'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Password'}}) }}
        <button type="submit">Register</button>
    </form>
{% endblock %}
