{% extends 'base.html.twig' %}

{% block title %}Hello StationskiTypeController!{% endblock %}

{% block body %}
    <style>

        .form {
            background-color: #B8D3B0;
            padding: 20px;
            border: solid #03312E 5px;
            border-radius: 20px;
            max-width: 400px;
            margin: -60% auto 0 auto;
            opacity: 90%;
        }

        input {
            display: block;
            width: 90%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            color: #333;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        button[type="submit"] {
            background-color: #03312E;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            cursor: pointer;
            align-self: center;
            margin: 0 auto;
            display: block;
        }
        label {
            font-size: 16px;
            font-family: sans-serif;
            display: flex;
        }

    </style>

    <header >
        <nav class="navbar" >
            <div class="max-width">
                <div class="logo">
                    <a href="#">Peak <span> </span><span>EXPLORER.</span></a>
                </div>
                <ul class="menu">
                    <li><a href="{{ path('app_index') }}" class="menu-btn">acceuil</a></li>
                    <li><a href="{{ path('admin_domaine') }}" class="menu-btn">Stations</a></li>
                    <li><a href="{{ path('app_login') }}" class="menu-btn">login</a></li>
                    <li><a href="{{ path('app_register') }}" class="menu-btn">Register</a></li>
                    <li><a href="{{ path('app_Domaine') }}" class="menu-btn">Domaine</a></li>

                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                    <img src="public/assets/images/menu.png">
                </div>
            </div>
        </nav>
    </header>
    <svg viewBox="0 0 1200 800" xmlns="http://www.w3.org/2000/svg">
        <mask id="m">
            <g class="cloud1">
                <rect fill="#fff" width="100%" height="801" y="799" />
                <image xlink:href="https://assets.codepen.io/721952/cloud1Mask.jpg" width="1200" height="800"/>
            </g>
        </mask>
        <image class="sky" xlink:href="https://assets.codepen.io/721952/sky.jpg"  width="1200" height="590" />
        <image class="mountBg" xlink:href="https://assets.codepen.io/721952/mountBg.png" width="1200" height="800"/>
        <image class="mountMg" xlink:href="https://assets.codepen.io/721952/mountMg.png" width="1200" height="800"/>
        <image class="cloud2" xlink:href="https://assets.codepen.io/721952/cloud2.png" width="1200" height="800"/>
        <image class="mountFg" xlink:href="https://assets.codepen.io/721952/mountFg.png" width="1200" height="800"/>
        <image class="cloud1" xlink:href="https://assets.codepen.io/721952/cloud1.png" width="1200" height="800"/>
    </svg>
<div class="example-wrapper">

    <div class="form">
        <h1>Création de la station de ski</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.location) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
</div>
    <!-- footer section start -->
    <footer>
        <span>Created By <a href="#">Sarayeo</a>| <span class="far fa-copyright"></span> 2023.</span>
    </footer>
{% endblock %}
