{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<style>
<<<<<<< HEAD
=======
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
>>>>>>> 7c8711ce0425c25cec66001cb8f5b5e441fbaa6f
    .navbar{
        padding: 15px 0;
        background: #03312E;
    }
    .navbar .logo a span{
        color: #F0F6F6;
        transition: all 0.3s ease;
    }
<<<<<<< HEAD

    .station-pres {
        display: flex;
        flex-direction: column;
        font-family: 'Ubuntu', sans-serif;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
    }
    .text-2{
        font-size: 50px;
    }
    .text-3{
        font-size: 22px;
    }

    table{
        border: 2px solid #03312E;
        border-radius: 6px;
        padding: 10px 20px;
        margin-bottom: 20px;
        background-color: white;
    }
    th  {
        padding-right: 10px;
        padding-left: 10px;
    }
    td  {
        padding-right: 10px;
        padding-left: 10px;
    }
    section{
        padding: 0;
    }


    img{
        width: 350px;
        height: 300px;
        border-radius: 10%;
        border: #03312E 10px solid;
        box-shadow: 2px 2px 4px rgba(5, 5, 18, 0.7);
    }
    .station-head{
        padding-right: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .text-2{
        font-size: 50px;
    }
    .text-3{
        font-size: 22px;
    }
    @media only screen and (max-width: 800px){
        table{

            padding: 5px 5px;

        }
        th  {
            padding-right: 2.5px;
            padding-left: 2.5px;
            font-size: 15px;
        }
        td  {
            padding-right: 2.5px;
            padding-left: 2.5px;
            font-size: 15px;
        }
=======
>>>>>>> 7c8711ce0425c25cec66001cb8f5b5e441fbaa6f
</style>
    <header >
        <nav class="navbar" >
            <div class="max-width">
                <div class="logo">
                    <a href="#">Peak <span> </span><span>EXPLORER.</span></a>
                </div>
                <ul class="menu">
                    <li><a href="{{ path('app_index') }}" class="menu-btn">Acceuil</a></li>
                    <li><a href="{{ path('app_Domaine') }}" class="menu-btn">Domaine</a></li>
                    <li><a href="{{ path('app_login') }}" class="menu-btn">login</a></li>
                    <li><a href="{{ path('app_register') }}" class="menu-btn">Register</a></li>
                    {% if user == 'ROLE_ADMIN'%}
                        <li><a href="{{ path('admin_domaine') }}" class="menu-btn">Admin</a></li>
                    {% elseif user == 'ROLE_ASTATION'%}
<<<<<<< HEAD
                        <li><a href="{{ path('app_Domaine') }}" class="menu-btn">Admin</a></li>
=======
                        <li><a href="{{ path('admin_domaine') }}" class="menu-btn">Admin</a></li>
>>>>>>> 7c8711ce0425c25cec66001cb8f5b5e441fbaa6f
                    {% endif %}
                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                    <img src="public/assets/images/menu.png">
                </div>
            </div>
        </nav>
    </header>
<<<<<<< HEAD
    <br><br><br><br><br>
<div class="station-head">
    <div class="station-pres">
        <h1 class="text-2">Station {{ station.name }}</h1>
        <p class="text-3"> Bienvenue sur la page de la station {{ station.name }}.</p>
        <p class="text-3">Description: {{ station.description }}</p>
        <p class="text-3">Location: {{ station.location }}</p>
=======
    <br><br><br><br>
    <h1>la Stations {{ station.name }}</h1>
    <p>
        Bienvenue sur la page de la station {{ station.name }}.


    </p>
    <div>

        <img src="/uploads/{{ station.image }}" alt="image de la station" width="200" height="200">
        <p>{{ station.description }}</p>
        <p>{{ station.location }}</p>
>>>>>>> 7c8711ce0425c25cec66001cb8f5b5e441fbaa6f
    </div>
    <div class="station-img">
        <img src="/uploads/{{ station.image }}" alt="image de la station" width="350" height="266">
    </div>
</div>





    <h2> Piste : </h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Difficulté</th>
            <th>Statut</th>
            <th>Horaire d'ouverture</th>
            <th>Horaire de fermeture</th>
            <th>fermeture expectionelle</th>
        </tr>
        </thead>
        <tbody>
        {% for pistes in piste %}
            <tr>
                <td>{{ pistes.name }}</td>
                <td>{{ pistes.difficulte }}</td>
                <td>{% if pistes.ouverture %} Ouverte {% else %} Fermée {% endif %}</td>
                <td>{{ pistes.horaireOuverture|date('H:i') }}</td>
                <td>{{ pistes.horaireFermeture|date('H:i') }}</td>
                <td>{{ pistes.fermetureexpectionelle }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2> Remontée :</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Statut</th>
            <th>Horaire d'ouverture</th>
            <th>Horaire de fermeture</th>
        </tr>
        </thead>
        <tbody>
        {% for remonte in remontee %}
            <tr>
                <td>{{ remonte.name }}</td>
                <td>{% if remonte.open %} Ouverte {% else %} Fermée {% endif %}</td>
                <td>{{ remonte.opentime|date('H:i') }}</td>
                <td>{{ remonte.closetime|date('H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
